<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>欢迎页面</title>
    </head>
    <body>
        <script src='js/myjs1.4.js'></script>
        <link href="2.css" rel="stylesheet" type="text/css" />
        <img src='/images/img02.jpg'/>
        <% for(let user of users) {%>
            <li>
                <span>用户名</span>:<span><%= user.user_name%></span>
                <span>email</span>:<span><%= user.email%></span>
            </li>
        <%}%> 
        <script>
        </script>
    </body> 
</html>
